<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">

        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        <link rel="stylesheet" href="style.css">
	<div class="container">
            <h1><span class="cyan">Discord Spambot Premium</span></h1>
            <p>V2.2 Premium Version by Discord Tools</p>
            <div class="wrapper">
                <div class="bar">
                    <a href="/">Spammer</a>
                    <a href="settings">Settings</a>
                    <a href="status">Status</a>
					
                </div>
                {{{body}}}
&nbsp;
&nbsp;
&nbsp;

            </div>
		
        </div>		
    </body>
	
	
</html>


